2-59/15 * * * * /usr/local/bin/python /app/job_elenia.py >> /mnt/elenia.log 2>&1
39 * * * * /app/job_dyndns.sh >> /mnt/dyndns.log 2>&1
0 6 * * * /usr/local/bin/python /app/job_cleaner.py >> /mnt/extra.log 2>&1
3 0 * * * /usr/local/bin/python /app/job_timelapse.py >> /mnt/video.log 2>&1
33 4 * * * /app/job_ffmpeg.sh >> /mnt/video.log 2>&1
